.body{
	background-color: #546582;
}

.container{
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	background-color: #546582;
	color: white;
	border: 6px solid black;
	.photo{
		width: 100%;
		height: auto;
		img{
			border: 3px solid black;
			display: block;
			margin-left: auto;
			margin-right: auto;
	}
}
}
